<!DOCTYPE html>
<html>
<head>
	<title>js</title>
	<script src="jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>

<p>Directory access is forbidden.</p>
<button>click</button>

<script type="text/javascript"></script>
<script>
	$(document).ready(function(){
        $("button").click(function(){
           $("p").hide();
        });
    });
</script>
</body>
</html>
